/* == General Styles == */


* {
    box-sizing: border-box;
  }
  
  div {
    display: block;
  }
  
  body {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville';
    font-size: 1rem;
    line-height: 1.8;
  }
  
  /* == Main Styles == */
  
  h1, h2, h4, h5, p, u1, img {
    margin-bottom: 1.3rem;
  }
  
  .header, .photo, .locations, .programs, .gifts, .questions-and-answers, .contact {
    width: 95%;
    margin: 1.3rem auto;
    padding: .5rem .8rem;
    text-align: center;
  }
  
  a {
    color: #bd806e;
  }
  
  a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
  }
  
  /* == Header Styles == */
  
  .cover {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') 80% no-repeat, center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    font-family: 'Great Vibes', serif;
    text-align: center;
    display: table;
  }
  
  @media (min-width: 480px) {
    .cover {
      background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover;
    }
  }
    
  .photo {
    display: table-cell;
    vertical-align: middle;
  }
  
  .text {
    margin: 0 auto;
    padding: .625rem;
    color: hsla(1,1%,100%,.9);
    background: hsla(150,0%,0%,.5);
    border-radius: 8px;
    width: 50%;
  }
  
  .text h1 {
    line-height: 6rem;
    margin-bottom: 0;
  }
  
  @media (min-width: 480px) {
    .text {
      padding: 1rem;
      border-radius: 8px;
      width: 50%;
    }
    
    .text h1 {
      font-size: 5rem;
    }
  }
  
  span {
    font-family: 'Libre Baskerville';
    letter-spacing: .1rem;
    vertical-align: middle;
  }
  
  .tagline {
    letter-spacing: .1rem;
    font-family: 'Libre Baskerville';
    text-transform: uppercase;
  }
    
  @media (min-width: 480px) {
    .tagline {
      text-transform: uppercase;
      font-family: 'Libre Baskerville';
    }  
  }
  
  hr {
     width: 35%;
     height: 1px;
  }
  
  /* == Locations Styles == */
  
  .blurb {
    display: inline-block;
    width: 25%;
    padding: 1rem;
    margin: 0.4rem;
  }
  
  @media (min-width: 480px) {
    .blurb {
      display: inline-block;
      width: 25%;
      padding: 1rem;
      margin: 0.4rem;
    }
  }
  
  .blurb img {
    height: 4rem;
  }
  
  .blurb div {
    font-family: 'Muli', sans-serif;
  }
  
  .blurb h3 {
    font-weight: 800;
  }
  
  /* == Programs Styles == */
  
  .programs h2 {
    letter-spacing: .1rem;
    text-align: center;
  }
  
  div#programs {
    margin-left: 35%;
  }
  
  .programs all {
    font-family: 'Muli';
    letter-spacing: .05rem;
    width: 30vw;
  }
  
  .programs u1 {
    letter-spacing: .05rem;
  }
  
  .programs {
    width: 100vw;
    background: hsla(100,0%,0%,.6);
    text-align: left;
    color: #EEE8AA;
  }
  
  @media (min-width: 480px) {
  
    .programs {
      width: 30vw;
      margin: 0 auto;
    }
  
  }
  
  /* == Gift Styles == */
  
  .gifts img {
    height: 4rem;
  }
  
  .gifts {
    margin-bottom: 0;
  }
  
  /* == Questions and Answers Styles == */

  .container {
    width: 100vw;
  }

  @media (min-width: 480px) {
    .container {
      width: 100%;
    }
  }

  .questions-and-answers {
    width: 100%;
    background: hsla(100,0%,0%,.6);
    text-align: center;
    color: #EEE8AA;
  }
    
  .questions-and-answers p {
    font-family: 'Muli';
    text-align: left;
  }
    
  .questions-and-answers hr {
    width: 100%;
    color: #EEE8AA;
    border: none;
    background-color: #EEE8AA;
    height: 1px;
  }
  
  .questions-and-answers hr::after {
    width: 100%;
    color: #EEE8AA;
    border: none;
    background-color: #EEE8AA;
    height: 1px;
  }
   
  .questions {
    font-weight: 800;
  }
    
  .answer {
    margin-bottom: 1rem;
  }
    
  @media (min-width: 480px) {
    
    .all-q-a {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      padding: 1.5rem;
      margin: .5rem;
    }
    
    .all-q-a h4 {
      text-align: left;
    }
    
    .question {
      font-weight: 800;
      margin-bottom: .5rem;
    }
    
    .answer {
      margin-bottom: 1.5rem;
    }
  }
  
  /* == Contact Styles == */
  
  .contact p {
    font-family: 'Muli'; 
    font-size: 1rem;
  }
  
  /* == Footer Styles == */
  
  footer {
    background-color: #606060;
    display: table;
    color: white;
    text-align: center;
    font-size: 12px;
    font-family: 'Muli';
    height: 8vw;
    width: 100vw;
  }
  
  @media (min-width: 480px) {
    footer {
      min-height: 7vh;
    }
  }
  
  .footer {
   display: table-cell;
      vertical-align: middle;
      padding: 0.5rem 1rem;
  }
  
  .footer p {
    margin-bottom:0;
  }
  
  /* == Tipográfia == */
  /*font-family: "Great Vibes", "Libre Baskerville", Muli*/
    
  
  h1, h2 {
    font-family: 'Great Vibes', cursive;
  }
  
  h1 {
    font-size: 4rem;
    color: #EEE8AA;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  .programs {
    width: 100vw;
  }